.test-script-builder-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 99%;
    margin: 5px;
    padding-top: 10px;
    
}

.section-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    
}

.input-section,
.json-output-section {
    width: 48%;
    
    padding: 10px;
}

.input-section {
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.json-output-section {
    
    border-radius: 4px;
    overflow-x: auto;
    padding-left: 100px;
}


input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

label {
    display: block;
    
}

@media (max-width: 768px) {
    .section-row {
        flex-direction: column;
    }

    .input-section,
    .generated-json-section {
        width: 100%;
        padding: 10px;
        
    }
}

.generate-json-btn {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.generate-json-btn:hover {
    background-color: #45a049;
    
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    
    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    border-radius: 4px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.copy-json-btn {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.copy-json-btn:hover {
    background-color: #45a049;
    
}

.add-action-btn,
.delete-action-btn {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.add-action-btn:hover,
.delete-action-btn:hover {
    background-color: #45a049;
    
}

.delete-action-btn {
    background-color: #f44336;
    
}

.delete-action-btn:hover {
    background-color: #d32f2f;
    
}

.expand-collapse-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.expand-collapse-btn:hover {
    background-color: #e0e0e0;
}

.suggestions-dropdown {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    width: 45%;
    
    max-height: 150px;
    
    overflow-y: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.suggestion-item:hover {
    background-color: #f5f5f5;
}

.modal-content pre {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    overflow: auto; 
    max-height: 400px; 
    white-space: pre-wrap; 
    word-break: break-all; 
    background-color: #e9e3e3;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0; 
}

.button-container {
    display: flex;
    align-items: left; /* Align items vertically */
    margin-top: 20px; /* Space above the button container */
    margin-bottom: 20px; /* Space below the button container */
    padding-left: auto; /* Space from the left edge of the screen */
}

.action-btn {
    padding: 10px 20px;
    margin-right: 10px; /* Space between buttons */
    font-size: 16px; /* Adjust font size as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-action-btn {
    background-color: #4CAF50; /* Green color */
    color: white;
}

.generate-json-btn {
    background-color: #008CBA; /* Blue color */
    color: white;
}

.reset-btn {
    background-color: #f44336; /* Red color */
    color: white;
}

.action-btn:hover {
    opacity: 0.9; /* Slight opacity change on hover */
}

